NEXT_PUBLIC_BACKEND_URL=https://dossierfacile.onrender.com
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51TE6PJEGWJ3vt3WTNjsM2sWgaeCllYKJV9TwhalZJtpkfHRqCcKYO0lfXawdUanyKKQArkU0GwtnifGhQudq8Mv800r9XTHbUY
